[2021-07-29 10:40] Mizux opened #2 "CMake: CMAKE_C_EXTENSIONS=ON seems mandatory (with clang)"
TLDR: It seems the SCIP source depends on `M_PI` which is a GNU extension, i.e. compiling using `-std=c99` won't work.

# Protocol
If here: https://github.com/scipopt/scip/blob/a6142b7d1d7892f950b1e5127925f7c435151beb/src/CMakeLists.txt#L10-L12
I'm adding the line
[code]
Then CMake will generate compile line using `-std=c99` instead of the "default" -`std=gnu99`

ref: https://cmake.org/cmake/help/

[2021-07-29 12:27] svigerske commented on #2
It is supposed to be `-std=c99 -D_XOPEN_SOURCE=600`: https://github.com/scipopt/scip/blob/master/make/make.linux.gnu#L12

[2021-07-29 13:13] Mizux commented on #2
Not sure this **makefile** config file will impact the **CMake** build unless you do some magic...

note: Update the title

[2021-07-29 13:28] svigerske commented on #2
No, it's not. It was meant as a hint to the people who take care of the cmake system, since, as far as I rememeber, the goal is to have the cmake system behave equivalently to the normal makefiles at some point.

[2021-08-01 04:04] yurivict opened #3 "When SoPlex is built with the MPFR option SCIP also begins to depend on libmpfr.so"

[2021-08-01 16:39] yurivict opened #4 "SCIP-7.0.3 breaks with zimpl-3.3.6: hidden symbol `xlp_conname_exists' in CMakeFiles/scip.dir/scip/reader_zpl.c.o is referenced by DSO"
[code]

It appears that the cause is that ```xlp_conname_exists``` is defined in both ```SCIP``` and ```ZIMPL``` projects.

OS: FreeBSD 13
clang-11

[2021-08-02 06:47] Mizux opened #5 "Flaky Segfault in SCIPsolveConcurrent()"
**DISCLAIMER: All details (and a minimal reproducible example) are in https://github.com/Mizux/scip-multithread/issues/2**

   Open Questions:
    * Why code didn't check the index value or retcode before using the return value ?
    * Why we have so many `-1` return by `SCIPsyncstoreGetWinner()` ?
    * Why `syncstore->lastsync` is empty while SCIPtpiCollectJobs(jobid) seems to have correctly col

[2021-08-02 09:22] Mizux commented on #5
[code]

Change frame
[code]

display frame
[code]

display locals
[code]

Once you are on a correct frame, you can dereference pointer object etc...
[code]

`lastsync = 0x0` i.e. GetWinner seems to return -1 because `syncstore->lastsync` is null
note: retcode is `SCIP_OKAY` so my guess since `retcode = SCIPtpiCollectJobs(jobid);` seems ok, IMHO `lastsync` is not correctly  updated accordingly...

[2021-08-02 10:23] fschloesser commented on #3
Can you please explain in more detail what the problem is here?

[2021-08-02 15:31] yurivict commented on #3
When the dependency library (SoPlex) is optionally depending on the third library (libmpfr.so) this shouldn't cause your project to also immediately link with this third library.

[2021-08-09 14:27] matbesancon commented on #5
thanks for the detailed report, we will look into the issue

[2021-08-11 15:17] fschloesser commented on #4
Hey @yurivict can you please add what your compile commands are? Are you using make or cmake? What is the linker call that fails (maybe you need to add VERBOSE=true to the call?)

[2021-08-11 15:19] fschloesser commented on #3
What is the szenario and what command do you use for this to happen? Do you mean that this is automatically linked or that the binaries depend on a shared lib instead of using the static lib for the build process?

[2021-08-16 09:46] fschloesser commented on #2
This should be resolved with https://github.com/scipopt/scip/commit/5d5bd88f57aac1b3a002be1ff36095e6e1525741

[2021-08-16 09:46] #2 closed

[2021-09-09 05:41] izuwaa opened #6 "Getting Full Search Tree"
Hello Team,

I apologize if this is not the best place to post this request for help; having spent a few days trying to read documentation and figure out what to do. I need to get the entire search tree used during computation of a solution to an LP. This tree I assume would have unexplored nodes, pruned nodes etc. Is this possible on SCIP? Thanks for your help and guidance.

I compiled SCIP 7.0.3

[2021-09-09 08:30] leoneifler commented on #6
Hello, you are saying you want the search tree during the solution of an LP, is that a typo? A pure LP (no integer variables) does not require a tree search. If you mean MIP, how exactly do you want to have the tree? There exists, e.g. a visualization feature that writes the tree info to a file.

[2021-09-09 09:57] izuwaa commented on #6
Hello,

Thank you for the speedy response. I did mean MIP apologies for that. I tried the visualization feature (visual/vbcfilename = "tree.vbc", visual/realtime = TRUE) the solution I got in the .vbc file seems to be the optimal solutions only plus I don't think the vbc output file is exactly what I am looking for.

After the full search tree is generated, I want to be able to perform further cal

[2021-09-11 15:36] izuwaa commented on #6
Any help with the above will be really appreciated.

Thanks,
Izuwa.

[2021-09-11 15:42] leoneifler commented on #6
So if I understand you correctly you want to be able to access information for each of the nodes after (or during?) the solving of a MIP? I think this you would probably have to implement for yourself within SCIP. You could, for example create an event handler (https://www.scipopt.org/doc/html/EVENTHDLR_MAIN.php) that activates whenever a node is solved and either saves the information that you wa

[2021-09-11 15:50] izuwaa commented on #6
Yes I would like to access the information of each node after the solving of an MIP. Thank you very much for pointing in the right direction. I would explore the event hander as recommended.

I didn't want to recreate this if it was already in SCIP i.e. to query the search tree for solutions within x% of the optimal, and get those solutions and their associated values.

[2021-09-11 15:57] leoneifler commented on #6
So some more info on this: If you only want to have as many solutions as possible, then you should definitly use an event that triggers on a found solution (`SCIP_EVENTTYPE_SOLFOUND`). Also: SCIP will of course not explore all feasible solutions (especially if you find an optimal solution early on, large parts of the tree might be pruned where suboptimal solutions could be found).

[2021-09-11 16:08] izuwaa commented on #6
Ok. Thanks for this extra information. I would explore it.

On Sat, Sep 11, 2021, 11:57 AM Leon Eifler ***@***.***> wrote:

[2021-09-22 02:30] #6 closed

[2021-09-22 11:25] Mizux opened #7 "Add support for FreeBSD (amplmp compilation issue)"
When trying to build SCIP in our Vagrant generic/FreeBSD13 box (note a FreeBSD VirtualBox img) we are facing some compilation issue...

## Observed
here the relevant trace (please notice we are building SCIP using FetchContent from our or-tools CMake based build)
[code]
ref: https://github.com/google/or-tools/runs/3672547012?check_suite_focus=true

https://github.com/scipopt/scip/blob/9444e80869f6

[2021-09-22 11:30] Mizux commented on #7
2min googling around:
https://fossies.org/linux/sccs/libschily/getexecpath.c seems to be a good starting point

[2021-09-22 11:38] Mizux commented on #7
FYI: Issue still present in ampl/mp master https://github.com/ampl/mp/blob/master/src/os.cc#L107-L109
todo(me): Open an issue in ampl/mp and linking it to this issue...

[2021-09-22 12:00] matbesancon commented on #7
I cannot help with OR-tools directly but SCIP itself can be built on FreeBSD, see:
https://github.com/JuliaPackaging/Yggdrasil/blob/master/S/SCIP/build_tarballs.jl
and the compiled artifact here: https://github.com/JuliaBinaryWrappers/SCIP_jll.jl/releases/

[2021-09-22 12:03] Mizux commented on #7
@matbesancon thanks ! and shame on me I should have think of disabling AMPL support -_-
https://github.com/scipopt/scip/blob/9444e80869f6ac42723f3a43712ca6d4ce0c20dc/CMakeLists.txt#L92

[2021-09-22 12:03] matbesancon commented on #7
No problem :)
should we close this one and leave the issue open on the AMPL repo?

[2021-09-22 12:16] Mizux commented on #7
IMHO: Could be closed since I did my duty and open an issue in the ampl repo.
and/or you can also "fix" your CMakeLists.txt by forcing option to OFF (or disabling it) on FreeBSD ;)

[2021-09-22 12:18] matbesancon commented on #7
thank you, I'll open a corresponding issue on the main scip repo

[2021-09-22 12:18] #7 closed

[2021-09-26 09:59] chemrgineer opened #8 "Outdated CppAD Library"
First, thank you for the work you have done.
The version of CppAD used in SCIP (7.0.3) is 20180000.0. I tried to update the cppad folder contents inside the source codes, and it didn't work. I wonder if updating this library improves SCIP's performance? How can I update this library if there is improvement?

[2021-09-27 07:29] matbesancon commented on #8
thanks for the feedback. The non-linear part of SCIP has seen a major rewrite currently on master and which will be in the next release. Upgrading CppAD will likely not be planned before said release is cut, I will let @svigerske comment on the plans for the future

[2021-10-04 10:14] svigerske commented on #8
I doubt that updating CppAD will improve performance significantly. The AD is usually not the bottleneck.

We will try updating CppAD at some point, but it is not high priority. The update will need to be done with care, as we have patched up the CppAD sources at several places and also the CppAD API for atomic functions has changed a lot.

[2021-10-04 10:21] matbesancon commented on #8
thanks! Let's close the issue for now as it's not blocking, the AD library is only used internally within SCIP

[2021-10-04 10:21] #8 closed

[2021-11-24 09:36] jannicklange opened #9 "LP parser should raise an error on invalid file, instead of silently failing + continuing to solve the model"
Hello!

I came across a nasty issue when trying to solve a model from an LP file.<br/>
As far as I can tell, the SCIPOPT LP parser follows the LP specification of CPLEX:
* https://www.scipopt.org/doc-7.0.3/html/reader__lp_8h.php
* https://www.ibm.com/docs/en/icos/12.9.0?topic=cplex-lp-file-format-algebraic-representation

From testing, I do _know_ (now) that CPLEX does not support constant values

[2021-11-24 11:40] leoneifler commented on #9
Hi Jannick,

thank you for your in-depth and well explained bug report - you have certainly posted it in the right place.

We will investigate the cause of this issue and fix it as soon as we can find the time. When there are updates I will post them here, as well.

Best,
Leon

[2022-01-04 18:27] chemrgineer opened #11 "IPOPT Linear Solver HSL_MA97 Cause Segmentation Fault"
Hi, I found bug on SCIP concurrentopt function. I compiled IPOPT with HSL libraries contains HSL_MA97 which use OpenMP for parallel computation. I configure SCIP to use HSL_MA97 via command "set nlpi ipopt linear_solver ma97". When I try to start concurrentopt fails. I think, this problem hard to fix but some explanation can be added for wrong settings. Thanks for for your hard work.

[2022-01-06 04:11] svigerske commented on #11
I had thought that MA97 would be threadsafe.
I can try to reproduce, but it might also help if you could just run a debugger and let us know some more details on this segfault (i.e., where does this appear?).

[2022-01-06 05:32] chemrgineer commented on #11
Hi, I found my mistake. I have 5 threads but in default SCIP sets 8. Because of that I get Segmentation fault. Although I corrected maxnthreads option to 4 and I get "free(): double free detected in tcache 2" error in debug build.

[2022-01-08 02:23] svigerske commented on #11
So this is how it looks to me:
[code]
So it seems to be indeed a problem with MA97 being not threadsafe (cc @jhogg41).
Ipopt already includes a workaround for MUMPS not being threadsafe and something similar could be added to its MA97 interface.
I don't think we should change something on the SCIP side.

[2022-01-08 08:41] #11 closed

[2022-01-12 18:45] jpkempkes commented on #9
Hi Leon,

have you gained any insights on this issue? We're really looking forward to a fix.

Best
jp

[2022-01-13 14:08] leoneifler commented on #9
Hi jp,
thank you for reminding me about this. I have attached a patch that fixes this behaviour for you. It will probably take a bit more time until this makes it onto the master.

Best,
Leo
[lpreader-patch.txt](https://github.com/scipopt/scip/files/7863317/lpreader-patch.txt)
n

[2022-01-13 15:57] jpkempkes commented on #9
Hi,
thanks for that quick fix! That helps us already.

I think most of the OPTANO Modeling Users will wait for it to be merged into master, as they usually don't build scip on their own.
Best
jp

[2022-01-17 07:55] svigerske commented on #11
I had a closer look and it seems that it is not MA97 being non-threadsafe exactly, but that there is a conflict with the use of OpenMP on the SCIP and MA97 level.
If I change SCIP to use TinyCThread instead of OpenMP (`TPI=tny`) then things seem to work fine.
Alternatively, if building HSL without OpenMP (`--disable-openmp`)  then things seem to work fine, too.

Things go wrong in MA97 with memory

[2022-02-09 11:09] fschloesser commented on #4
@yurivict did you resolve you issue or have some more information here?

[2022-02-09 16:23] yurivict commented on #4
This doesn't seem to be an issue now since both FreeBSD ports are at these versions.

Thank you.

[2022-02-09 16:23] #4 closed

[2022-02-25 07:19] vistart opened #12 "Does this code refer to "Scaling" or "Resolving"?"
https://github.com/scipopt/scip/blob/master/src/scip/lp.c#L11711

[2022-02-25 07:43] ambros-gleixner commented on #12
Changing scaling is included in the strategies that SCIP tries in order to recover from an unsuccessful; this code refers to skipping all of these strategies.

[2022-02-25 07:43] #12 closed

[2022-02-25 07:50] ambros-gleixner commented on #12
Please reopen if you have further questions.

[2022-03-07 19:06] zengqg opened #13 "install fails"
* scip-8.0.0

make install
output :

//usr/local/lib/libreadline.so.8: undefined reference to `tgetstr'
//usr/local/lib/libreadline.so.8: undefined reference to `tputs'
//usr/local/lib/libreadline.so.8: undefined reference to `BC'
//usr/local/lib/libreadline.so.8: undefined reference to `tgetent'
//usr/local/lib/libreadline.so.8: undefined reference to `tgetflag'
//usr/local/lib/libreadline.so.8:

[2022-03-07 23:36] fschloesser commented on #13
Dear @Domceng,
can you install the package `libreadline8` and try again please?
Best,
Franziska

[2022-03-09 12:48] #9 closed

[2022-03-09 13:45] jpkempkes commented on #9
As you closes the ticket? has this been merged in the main branch?

[2022-03-09 14:00] fschloesser commented on #9
It has been merged to bugfix: https://github.com/scipopt/scip/commit/c6363437b7608fd521bed88273b8b689ccb93909
It is not yet in any official release but will be contained in the next bugfix release.

[2022-03-15 06:30] Ishaanjolly opened #14 "Installation fail - MacOS."
Mr Matthias suggested me to create an issue here. I understand that there has have already been a huge amount of issues that have been resolved with regards to installation, but something seems to be going haywire in my installation process and I am very keen to understand why and how to resolve it. Please, if you could see the my doings below.

On downloading scip-8.0.0 from the official website,

[2022-03-15 10:14] fschloesser commented on #14
Dear @Ishaanjolly ,
Can you please post the command that you are executing, especially from where  you are starting.
The output looks like are only trying to build scip, then you need to specify a path to papilo or set it to off in the cmake command with `-DPAPILO=off`.
However it could be simpler to just build the whole scipoptsuite (create a cmake build folder in the scipoptsuite directory as op

[2022-03-25 05:05] vistart opened #15 "[scip_prob.c]Missing references [scip_message.h] cause compilation to fail."
https://github.com/scipopt/scip/blob/f20ba4ba9d56413e8f0c7138ab78f469783b143c/src/scip/scip_prob.c#L1138
`SCIPdebugMsg` is defined in scip_message.h, but the file is not referenced, which causes the compilation to fail because the definition cannot be found at compile time.

[2022-03-25 12:16] #15 closed

[2022-03-28 19:53] Ishaanjolly commented on #14
Dear Franziska,

Apologies for the delay in my getting back to you. I got very busy with somethings.

Here are the commands I used:

Within `scipoptsuite` directory, I used the following commands:

`mkdir build`
`cd build`
`cmake ..`
`make`
`make install`

Output:

[code]
I think I should declare here that I was able to sucessfully install SCIP 7.0, and PySCIPOPT along with it. However, I guess th

[2022-03-28 22:40] ndrwnaguib opened #16 "Bliss API Compatability: `AbstractGraph::find_automorphisms`; outdated signature"
When trying to compile SCIP from source, the build fails with

[code]

in https://github.com/scipopt/scip/blob/07dfd86f87f15f8d31eee700f603283bfb6ab357/src/symmetry/compute_symmetry_bliss.cpp#L1087

I looked up the reference, [seems like Bliss has changed the signature](https://users.aalto.fi/~tjunttil/bliss/cppapi/classbliss_1_1AbstractGraph.html#ab4d61e788af0e22ff0a6652b1a47c418) (`user_param` i

[2022-03-29 02:26] ndrwnaguib commented on #16
The same incompatibility shows in `gcg/src/dec_isomorph.cpp` and  `gcg/src/bliss_automorph.cpp`

[2022-03-29 13:32] fschloesser commented on #14
Dear @Ishaanjolly,
The requirements to flex and bison have changed, actually you can see in your output that bison has been found, but a version too old:
[code]
As you are on mac, cmake tries to find the necessary packages via brew, but can't seem to succeed. This could be due to your system being a bit too old?
If you don't need ZIMPL then you should be able to resolve the error by adding `-DZIMP

[2022-03-29 14:05] fschloesser commented on #16
Dear @ndrwnaguib
Using the latest version 0.77 from https://users.aalto.fi/~tjunttil/bliss/download.html the error does not appear in my compilation.
The downloadable packages are built with the github version of bliss mentioned in the installation section https://www.scipopt.org/doc-8.0.0/html/md_INSTALL.php. This does also not fail in compilation for me. What are you doing differently than me?
B

[2022-03-29 16:03] ndrwnaguib commented on #16
Hi Franzi; I am also using bliss `0.77`, the second rc though.

[code]

I'm not sure why we have different results; especially that the change took effect starting from version 0.75 ([according to the release notes](https://users.aalto.fi/~tjunttil/bliss/CHANGES.txt))

[2022-03-29 17:22] ndrwnaguib commented on #16
Franzi, thanks for the follow up; I installed it from the [Arch Linux official repositories](https://archlinux.org/packages/community/x86_64/bliss/).

I think [the documentation lists the third parameter as `std::function<bool()>`](https://users.aalto.fi/~tjunttil/bliss/cppapi/classbliss_1_1AbstractGraph.html#ab4d61e788af0e22ff0a6652b1a47c418) type though, with the following description:

In the r

[2022-03-29 18:44] pfetsch commented on #16
As far as I can see, the code takes the new interface into account, see the part starting with
[code]
in `scip/compute_symmetry_bliss.cpp`. The corresponding call in this case is
[code]
where `term` is the callback function.

Can you please check whether the define is true in your case (it should be with Bliss version 0.77).

[2022-03-30 07:54] #16 closed

[2022-04-12 06:33] alexcaoys opened #17 "Linux ARM64 Binary Support"
Hi there,

I was wondering if there will be an arm64/aarch64 binary of SCIP. I have used SCIP across all different platform (Windows, Linux x86_64, arm32). But currently run into some problem on Ubuntu arm64 (on a Raspberry Pi 4B). I have tried the Raspberry Pi binary but apparently it needs some kernel support to run arm32 binary.

It will be great if you will release aarch64 binary in the future

[2022-04-12 07:01] alexcaoys commented on #17
Hi there,

Thanks for your advices!

As I stated above, I have already tried the armv7 or armhf raspberry pi release. It will give me a `No such file or directory` error which suggested mismatched arch. ([Details here](https://askubuntu.com/questions/133389/no-such-file-or-directory-but-the-file-exists))

Yes, I can compile it on my own. It's just a better option that I can get it right away. I am

[2022-04-13 10:14] fschloesser commented on #17
Dear @alexcaoys,
For the time being we don't build arm64 binaries, but might in the future. Just check the download section on the scip download page. Thanks for letting us know you are interested!
Best,
Franziska

[2022-04-13 10:14] #17 closed

[2022-05-05 06:03] svigerske commented on #5
Still open. 90804ee referred to an issue 5 in a different system.

[2022-05-10 03:13] vistart opened #18 "Does the order of the elements of the `ind` & `val` array returned by `SCIPlpiGetCols()` should be same as the input?"
Here are the input:
https://github.com/scipopt/scip/blob/4d77a5ab4ef629afc0a4bcee62a592e691a6065b/tests/src/lpi/change.c#L758
https://github.com/scipopt/scip/blob/4d77a5ab4ef629afc0a4bcee62a592e691a6065b/tests/src/lpi/change.c#L759
The fourth and fifth elements are 2, 1.
https://github.com/scipopt/scip/blob/4d77a5ab4ef629afc0a4bcee62a592e691a6065b/tests/src/lpi/change.c#L756
Its corresponding valu

[2022-05-10 11:50] leoneifler commented on #18
Are you in the process of writing a new LPI?

To answer the question: yes it expects the same order as when the nonzeros were added

[2022-05-10 15:56] vistart commented on #18
I see.

[2022-05-17 09:53] Mizux commented on #5
@matbesancon friendly ping to reopen it and have some update from your side ;)

[2022-06-04 11:05] chemrgineer opened #19 "Installation (CMake) Error"
I downloaded last version of SCIP from git repo. I compiled without any error. But I get this error massage when try to install with "sudo make install":

[code]
I tried to add safe directory but nothing changed. I'm working on ARM architecture Radxa Zero.(cmake 3.23.1, Make 4.3)

[2022-06-08 14:49] fschloesser commented on #19
Dear @chemrgineer
I modified the CMakeLists.txt, can you please try again and in case it does not work, please attach the file that it complains about?
Best,
Franziska

[2022-06-10 06:05] chemrgineer commented on #19
Hi @fschloesser, I compiled SCIP on Ubuntu 22.04 LTS (WSL) without any problem. I couldn't repeated process on ARM platform. Because I tried to compile Soplex first but I get same error (compiling but not able to install system). Thank you for fast response.

[2022-06-10 06:05] #19 closed

[2022-06-10 07:43] chemrgineer opened #20 "SCIP 8 concurrentopt"
Hi, I'm trying to use concurrentopt mode in SCIP. I compiled with CPLEX and IPOPT. While configuring with CMake I activated OpenMP library. So there is no problem with functionality. But my problem is working with Pyomo. Pyomo can not use internal functions as far as I know. I checked "scip --help" command and there is "-c "command"  : execute single line of dialog commands (can be used multiple t

[2022-06-10 09:07] fschloesser commented on #20
Hey @chemrgineer,
Scip tells you what the problem is, you cannot mix batch mode with file mode. Try reading the instance in batch mode: `./scip -c "read example.nl concurrentopt"`
Best,
Franziska

[2022-07-01 18:38] #20 closed

[2022-07-26 11:54] ChengweiLou opened #21 "SDPSCIP install fails (make/make.scipsdpproj:113: .//lib/scip/bin/scip... not found)"
(base) chengwei@chengwei-Latitude-5411:~$ cd /home/chengwei/scipsdp-4.0.0
(base) chengwei@chengwei-Latitude-5411:~/scipsdp-4.0.0$ mkdir lib
(base) chengwei@chengwei-Latitude-5411:~/scipsdp-4.0.0$ cd lib
(base) chengwei@chengwei-Latitude-5411:~/scipsdp-4.0.0/lib$ ln -s /home/chengwei/SCIPOptSuite-8.0.0-Linux/bin/scip
(base) chengwei@chengwei-Latitude-5411:~/scipsdp-4.0.0/lib$ cd ..
(base) chengwei@

[2022-07-26 13:06] fschloesser commented on #21
@pfetsch might know something

[2022-07-26 15:06] pfetsch commented on #21
If you use SCIPSDP, it is easier if you compile SCIP yourself. In any case, you need to compile SCIP with `make` if you use `make` for SCIPSDP (and similarly for `cmake`).

[2022-08-24 18:41] rileyjmurray opened #22 "SCIP 8 incorrectly reports a second-order cone program as infeasible."
Hi all. Several months ago I opened an issue on the PySCIPOpt repo containing an example where PySCIPOpt 4.2 (running SCIP 8) incorrectly claimed that a small SOCP was infeasible. Since the issue has seen no activity over there and it probably belongs here, I'm posting just to make sure the SCIP devs are aware.

The relevant issue is: https://github.com/scipopt/PySCIPOpt/issues/583.

Ping @Brannon

[2022-08-24 19:03] matbesancon commented on #22
Hi,
to  complete what @svigerske said, it would help to have the printed problem from SCIP: https://github.com/scipopt/PySCIPOpt/issues/583#issuecomment-1226108545
The function to do this would be:
[code]
https://www.scipopt.org/doc/html/group__GlobalProblemMethods.php#ga2f6d67a1ccef7a6363e6d6a56523c0d0

you can write to a `.cip` file. Let us know if anything is missing

[2022-08-28 20:24] VonAlphaBisZulu opened #23 "ELEAVE56 ERROR! Tried to put a fixed column variable into the basis"
Building a certain MILP with indicator constraints produces the following the lines of error and causes the program to crash:

[code]

The underlying issue was introduced between scip version 8.0.0 to 8.0.1 (scip 8.0.0 solves the problem correctly, scip 8.0.1 produces the error).

I use pyscipopt in python 3.7 to construct the problem. Both, version 4.2.0 and 4.0.0 work fine.

Here the "writeProbl

[2022-09-01 13:12] VonAlphaBisZulu commented on #23
Hi, you find the problem here attached. I don't know why, but the LP-file solves with both 8.0.0 and 8.0.1, while the MPS shows infeasible in both. Something doesn't fit.

[scip_issue_23.zip](https://github.com/scipopt/scip/files/9470078/scip_issue_23.zip)

[2022-09-01 13:17] ambros-gleixner commented on #23
Can you model the xor constraints as linear constraints x+y=1? Or will you have more complicated xor constraints in the future?

[2022-09-01 13:18] VonAlphaBisZulu commented on #23
@ambros-gleixner You're right, I will do this first.

[2022-09-01 13:32] VonAlphaBisZulu commented on #23
[scip_issue_23.zip](https://github.com/scipopt/scip/files/9470250/scip_issue_23.zip)

[2022-09-01 13:52] VonAlphaBisZulu commented on #23
I know my problem has some variables fixed to zero, and hopefully this is not what causes the error. I fix and resolve to generate alternative solutions. I understand that removing the variables would be better practice, but I still feel that this should not throw an error (and neither does SCIP 8.0.0, CPLEX or Gurobi).

[2022-09-01 14:18] VonAlphaBisZulu commented on #23
Okay, this is the full output when I run my code in Python on verbosity level 4. On the last line, it just stalls out. Nothing happens after this point, and I have to interrupt. A CI pipeline of mine on Github, which uses PySCIPOpt, throws a sefault. Not sure after how much time.

I am uncertain if PySCIPOpt contributes anything to this output:

[code]

[2022-09-01 14:22] VonAlphaBisZulu commented on #23
For completeness the output of SCIP 8.0.0

[code]

[2022-09-01 14:27] matbesancon commented on #23
Thanks a lot, I confirm I can reproduce this with the LP file (the error does not appear with the MPS on my side)

[2022-09-01 14:27] VonAlphaBisZulu commented on #23
However, I have to say that PySCIPOpt does a terrible job at catching errors. Virtually every bit from SCIP that goes into the error stream kills your Python program, which makes debugging very tedious. The PySCIPOpt documentation is minimalistic and adds only very little to the SCIP docs.

[2022-09-01 14:29] matbesancon commented on #23
Sorry for completeness:
- with the LP file, I get the ELEAVE56 error but eventually solution optimal
- with the MPS file, I get problem infeasible

What is the "expected" status for this problem?

[2022-09-01 14:39] VonAlphaBisZulu commented on #23
Optimal with value 3 (just take the solution of SCIP 8.0.0 if unsure)
Example vector:
[code]

[2022-09-01 15:25] matbesancon commented on #23
Thanks!

[2022-09-06 00:30] qiniuweihe opened #25 "install fail on m1 mac"
There are a lot of errors like those:
<img width="680" alt="image" src="https://user-images.githubusercontent.com/40459148/188523644-1ab45200-85e4-4b61-bd72-1c3c72bbe306.png">

[2022-09-06 10:14] fschloesser commented on #25
Dear @qiniuweihe ,
Can you please provide the steps you executed for us to reproduce the problem? Which package did you download, what was your cmake build command etc? It would also be helpful to have the full cmake output.
Thanks,
Franziska

[2022-09-14 15:26] Joao-Dionisio opened #26 "SCIP optimally solves a model, but claims it's infeasible if some constraints are removed"
Good afternoon.

I have created an example model where SCIP finds an optimal solution, but if certain constraints are removed, SCIP claims the model is infeasible.

With these constraints (plus some bound constraints):
![image](https://user-images.githubusercontent.com/57299939/190194845-f7375255-cd3a-4eab-bd1a-8d48164c83ac.png)

We get this optimal solution:
![image](https://user-images.githubuse

[2022-09-14 15:34] svigerske commented on #26
Could you write out a CIP file with the model instances? There seems to be a `writeProblem()` function for `model`.

[2022-09-14 15:37] Joao-Dionisio opened #27 "SCIP not detecting symmetry in MINLP"
I have a simple model that has obvious symmetry. Solving the model for whatever number of Power Transformers, should be no more difficult than solving the model for just one, as the solution of one can be copied to the others. SCIP does not detect symmetry in this MINLP.

These are the variables:
![image](https://user-images.githubusercontent.com/57299939/190198121-561f569c-5d07-4dd6-a56a-cbafe2ac

[2022-09-14 15:42] Joao-Dionisio commented on #26
Sure, here they are:
[without_temperature.zip](https://github.com/scipopt/scip/files/9567828/without_temperature.zip)
[with_temperature.zip](https://github.com/scipopt/scip/files/9567819/with_temperature.zip)

[2022-09-14 16:17] svigerske commented on #26
Removing these temperature constraints leads to fixing all variables in the problem (starting with the dualfix presolver). Some fixings seem to be done in a way that some remaining constraints are infeasible:
[code]
This output is from this change:
[code]
Disabling the dualfix presolver helps, but not sure that this is the culprit.

[2022-09-15 08:40] svigerske commented on #26
Problem is that the linear constraint handlers decides that some constraints are redundant:
[code]
But the difference between 1200 and 1199.99998788881 matters here.
If the constraints are removed, more variables are fixed to their bound. For this fixing, the nonlinear constraints are violated, though.

Being more strict in the redundancy check for linear constraints helps:
[code]

Also https://gi

[2022-09-15 09:33] Joao-Dionisio commented on #27
Replicated issue in the gitlab.

[2022-09-15 09:33] #27 closed

[2022-09-19 16:58] Joao-Dionisio commented on #26
Thank you for the very quick response, Stefan! Closing the issue as completed now.

[2022-09-19 16:58] #26 closed

[2022-09-22 21:46] SteveDiamond commented on #22
I've uploaded the .cip file for the above CVXPY formulation. (Renamed to .txt so github allows the attachment.)
[cvxpy_socp_3.txt](https://github.com/scipopt/scip/files/9629595/cvxpy_socp_3.txt)

[2022-09-23 07:41] matbesancon commented on #22
hi, thanks for the CIP file, I ran it with both SCIP 8.0.0 and 8.0.1 and both found an optimal solution (same value).

Not sure whether there is a setting or dependency that could cause that in CVX?

[2022-09-23 12:20] rileyjmurray commented on #22
@matbesancon can you post the solver output here?

[2022-09-23 12:28] matbesancon commented on #22
with 8.0.1
[code]

[2022-09-23 12:29] matbesancon commented on #22
8.0.0:
[code]

[2022-09-23 21:47] SteveDiamond commented on #22
Thanks @matbesancon for the quick response! We have identified some issues on our side and are moving towards a new CVXPY - SCIP interface. I'm finding new issues though with the attached problem, generated by the following CVXPY code
[code]
[test.txt](https://github.com/scipopt/scip/files/9637230/test.txt)

It's very strange because I get the correct answer when I set the dimension of x to be <=

[2022-09-24 10:11] svigerske commented on #22
Looks like some numerical issue with variables getting large.
If I let v (x_1) be continuous, SCIP claims to find a feasible point with v=4 and objective value around 1e10, but it actually violates the SOC constraint. This is due to variable aggregations, e.g., `soc_t_103 = 97424 - 2 x_1`, which changes the constraint during presolve.

We could have a closer look, but this doesn't look like as if

[2022-09-25 15:04] rileyjmurray commented on #22
Following up on the problem that led me to file this issue:

It's true that we have been able to change CVXPY settings so that SCIP 8 solves the desired problems. But the settings we needed to change weren't obvious. Specifically, we previously had the following lines by default in pyscipopt:
[code]
It seems that these settings can lead to incorrect behavior on our test problems with SOC constrain

[2022-09-26 09:49] svigerske commented on #22
These settings shouldn't lead to wrong behavior, but they disable a lot of features in SCIP which are useful for performance.

It doesn't make much sense to me to use SCIP as a solver for LPs (use an LP solver for that), but if you have to, and if you need a dual  solution as well, then it is indeed best to change these settings only if solving LPs (in which case they may sometimes improve perform

[2022-09-27 12:23] defencedog opened #28 "Successful Compiling ARM64 Android via Termux"
Well I couldn't install `ipopt` as Android lacks `fortran` compilers & workarounds are beyond me. All were installed in /usr/local
What i can install successfully are `papilo`. A [bug](https://github.com/scipopt/papilo/issues/20#issuecomment-1259230468) is resolved as well
[code]
`soplex` was as well installed
[code]
`zimpl` was as well installed (very good small language). Its source was in the s

[2022-09-27 13:59] fschloesser commented on #28
SCIP can use several different lp solvers, by default, soplex is used. If you want to use clp as an lp solver, you have to set `-DLPS=clp` as option to the cmake call: https://scipopt.org/doc/html/md_INSTALL.php#CMAKE

[2022-09-27 14:04] defencedog commented on #28
@fschloesser Can you tell which is superior?

[2022-09-27 15:08] #28 closed

[2022-09-27 18:29] svigerske commented on #28
No one is superior :), but SCIP is better tested with SoPlex than with Clp.

[2022-10-03 19:41] svigerske commented on #25
I think support for macOS on ARM in the ZIMPL buildsystem was added some time later than 8.0.0, maybe hasn't been released yet.

For SoPlex you can get `make.darwin.arm.*` files from https://github.com/scipopt/soplex/tree/bugfix-60/make, but you will probably need to add similar files for other components of the optsuite. For SCIP, this is at https://github.com/scipopt/scip/tree/v80-bugfix/make. I

[2022-10-03 20:18] RuslanLoboda commented on #25
@svigerske Thanks for the answer.
I've checked v8.0.1 and those files are included there. Now I'm having an issue with absent `boost/multiprecision/number.hpp` file...

[2022-10-05 08:34] fschloesser commented on #25
@RuslanLoboda what is your boost version, do you have a recent one that installs the file in question?

[2022-10-06 08:43] RuslanLoboda commented on #25
@fschloesser I've already managed compiling binary file by using `cmake` instead of `make`. It's not related to boost version because I've checked it locally, installed library contains `multiprecision` directory and `number.hpp` file. And env PATH is also in normal condition. I've spend around half of working day to try to do `make` working but without success. Later, when I have free time, I'll

[2022-10-14 11:46] matbesancon commented on #23
hi @VonAlphaBisZulu, SCIP 8.0.2 was released so I rechecked your issue, it seems that the LP file always finds a solution for me.

The MPS I now have a consistent failure for some reason. Can you check whether v8.0.2 fixed your issue?

[2022-10-14 13:52] matbesancon commented on #23
I get a different behavior and am wondering what could lead to this.
How did you build SCIP here? With PaPILO? If you have the executable, you can just run the binary and show the header

[2022-10-14 14:11] VonAlphaBisZulu commented on #23
I tested on, Windows 11 and WSL2 with Ubuntu 20.04. In both cases, I installed scip through conda, simply with the command:
`conda install -c conda-forge scip=8.0.1`

Headers are in Windows (with python 3.7.12):
[code]

In WSL (with python 3.9.13):

[code]

[2022-10-14 14:25] matbesancon commented on #23
ok interesting, in debug mode I systematically get
[code]
no matter the version

[2022-10-14 14:27] matbesancon commented on #23
I'll check now what I get in release mode, it might be that the assert removed leads to something incorrect

[2022-10-14 14:35] matbesancon commented on #23
this is a tough one, for a bit of swapping through version combinations, it seems the culprit for the warning is the new soplex version, not the new SCIP.

But it also seems that additional checks in debug modes were always throwing an error for the MPS, both for v800 and v802

[2022-10-14 14:51] VonAlphaBisZulu commented on #23
Should I create an issue in the SoPlex repo?

[2022-10-14 14:52] matbesancon commented on #23
Yes I agree that something should be caught by the solver, what it is exactly is still unclear to me.
I tried something different here, taking the MPS file and reading it through [JuMP](https://jump-dev/JuMP.jl), the model produced by JuMP is valid and produces the expected optimal solution without any error nor assert in debug

[2022-10-14 14:52] matbesancon commented on #23
no need, I think something should be handled on the SCIP side in any case

[2022-10-14 14:53] matbesancon commented on #23
the question the last point raises is whether the problem in the MPS is well-formed, in which case it is the model construction part that is at fault

[2022-10-18 07:15] svigerske commented on #22
I tried again with `test.txt`, but couldn't get a feasible solution if not relaxing integrality. The same when using Mosek instead of SCIP. So I agree it's not worth to continue investigating this at the moment.

The original issue seems to have been fixed on the CVXPY side.

[2022-10-18 07:49] #22 closed

[2022-11-02 06:38] gingerjhan opened #29 "ERROR: cannot change bounds of multi-aggregated variable"
I have a MILP problem that is having trouble running through SCIP with pyscipopt. Two specific variables would occasionally cause an error. The error message is listed below:

[code]

The attachment contains my test file. I saved the model in .lp and .cip formats before the error occurred.
**test_lp_transform.cip** is a file that tranfrom from **test.lp**. I figured out that the difference between

[2022-11-02 06:56] svigerske commented on #29
Hmm, this is quite old code and strange that it hasn't come up before.

A quick workaround is to add
[code]

[2022-11-02 23:25] #29 closed

[2022-11-05 04:19] mkoeppe opened #30 "Download page https://scipopt.org/download.php?fname=scipoptsuite-8.0.2.tgz needs updating"
to reflect the new license and to allow automatic downloads

[2022-11-05 07:33] matbesancon commented on #30
Good point, however the changes are not retroactive (to the best of my knowledge), so the new license will be in effect from 8.0.3 and current branches

[2022-11-05 17:48] mkoeppe commented on #30
This may need clarification too, in https://scipopt.org/index.php#license

[2022-11-05 19:35] freemin7 commented on #30
As dors https://scipopt.org/doc/html/FAQ.php#licensefaq

[2022-11-10 05:47] ambros-gleixner commented on #30
Should all be fixed in a few hours, thanks for your pointers!

[2022-11-11 20:19] BrannonKing opened #31 "please expose the extreme ray code"
I've been studying nlhdlr_quadratic.c to understand how to iterate the extreme rays when at an optimum of the LP relaxation. It's more complex than expected. (It might be less complex if the code for handling quadratics was not part of it.) Is it possible to expose some public methods for iterating the extreme rays of an optimal corner? This is surely a common need for modern cutting techniques, n

[2022-11-12 08:44] svigerske commented on #31
CC @antoniach @fserra

[2022-11-14 00:36] mkoeppe opened #32 "Minimum cmake version needs to be increased"
Build fails on ubuntu-xenial (cmake 3.5.1, https://github.com/mkoeppe/PySCIPOpt/actions/runs/3457453303/jobs/5770894994)

Build succeeds on linuxmint-19 (cmake 3.10.2, https://github.com/mkoeppe/PySCIPOpt/actions/runs/3457453303/jobs/5770895677)

So it would make sense to use `cmake_minimum_required(VERSION 3.10)`

[2022-11-14 09:03] fschloesser commented on #32
Thank you for pointing that out!
Updated to 3.9 https://cmake.org/cmake/help/latest/variable/PROJECT_DESCRIPTION.html#variable:PROJECT_DESCRIPTION

[2022-11-18 17:39] dxyzx0 opened #33 "Remove a node from node pool"
I have 2 questions:
1. Is it possible to remove a node from the node pool during the solving process safely? I want to remove a subtree from the solving process.
2. If so, is it possible to do that in fscip? Since fscip is a parallel version of scip, should I use some mutex/lock to accomplish this?

Thanks.

[2022-11-19 03:43] ambros-gleixner commented on #33
1. Yes, absolutely, the UG framework does that, e.g., if you want to look at code to achieve it.
2. I suppose you mean remove "UG nodes". I guess so, but for that I would refer you to inquire at ug@zib.de. This would also be the best place to ask about 1.

[2022-11-19 03:43] #33 closed

[2022-11-19 08:21] dxyzx0 commented on #33
@ambros-gleixner Thanks, is there a proper way to ask questions about ug framework except via e-mail?

[2022-11-19 08:24] dxyzx0 commented on #33
Yes, I want to accomplish things similar to UG framework. The code of UG is too long to read and has limited doc.
I have 2 additional questions:
1. What's the difference between UG node and scip node?
2. Is it possible to directly achieve this functionality just in scip? I mean, at some point, I can safely remove the node without destroy the solving process.

[2022-11-20 07:14] msh086 opened #34 "How to use SoPlex as an exact LP solver from SCIP?"
Hi, I need to solve numerically difficult LP problems, and would like to use SoPlex as an exact LP solver from SCIP. In order to use SoPlex in exact mode, I need to set some parameters(e.g. setting both `feastol` and `opttol` to $0$ ) according to https://soplex.zib.de/doc/html/EXACT.php

However, I can't find a way to set the params in SCIP. In https://scipopt.org/doc/html/PARAMETERS.php, I can o

[2022-11-21 17:18] wkschwartz commented on #30
https://scipopt.org/index.php#license appears to be updated to refer to the upcoming switch to the Apache license, but https://scipopt.org/doc/html/FAQ.php#licensefaq does not.

[2022-11-21 17:33] wkschwartz opened #35 "Apache license availability: What is the release schedule for SCIP 8.0.3?"
I am very excited to use [SCIP v8.0.3 under the Apache 2 license](https://scipopt.org/index.php#license) in a commercial product. When do you expect to schedule 8.0.3's release? I am asking so that I can plan around it in upcoming releases of my software.

If this is a question [better directed](https://scipopt.org/doc/html/FAQ.php#licensefaq) to koch@zib.de, please let me know.

[2022-11-21 22:55] fschloesser commented on #35
The release will hopefully take place in the coming month.

[2022-11-21 22:55] #35 closed

[2022-11-21 22:56] fschloesser commented on #30
Thanks for noting this. All is in order, the FAQ will be updated with the upcoming release, since for the time being and release 802 the new license does not apply yet.

[2022-11-22 15:09] aabbas-brook opened #36 "Avoid using -fpermissive flag"
Hi everyone,
First of all, thank you for the work and the documentation you have done here, this is great.
When trying to compile the simple example (that I putted in a test file) :

[code]

I am faced to a message error:

[code]

This can be solved by adding in cmake : `set(CMAKE_CXX_FLAGS "-fpermissive -std=c++0x")`. This point solves the issue but is there a better way to solve this problem?

[2022-11-22 15:12] svigerske commented on #36
`SCIP_CALL` is a macro that includes a `return` statement. Use something like `SCIP_CALL_ABORT` instead.

[2022-11-22 15:14] aabbas-brook commented on #36
Thank you !

[2022-11-25 04:02] ambros-gleixner commented on #34
Through standard floating SCIP in current release versions, this is not possible.

If you want an exact LP solve, you need to either use SoPlex directly, or you can check out the exact version of SCIP at https://github.com/leoneifler/exact-SCIP. However, note that the second option has some restrictions: it may not be as efficient, you will not have access to tweek parameters for the exact algorit

[2022-11-25 04:02] #34 closed

[2022-11-25 04:03] ambros-gleixner commented on #34
Please reopen for further questions, possibly also in the other repos.

[2022-11-25 04:07] ambros-gleixner commented on #33
To enquire about UG the mail ug@zib.de is the point of contact, or you can write to Yuji Shinano directly, same thing.  He would be the most competent person to answer your questions.  You can certainly achieve this safely within SCIP, e.g., by updating the lower bound to +infinity.

[2022-11-27 01:18] mkoeppe opened #37 "ZIMPL repository missing"